.header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.header__column {
  font-size: 30px;
}

input {
  border: 1px solid;
  border-color: rgb(204, 204, 204);
}

form {
  max-width: 1200px;
}

i {
  color: red;
}

.title {
  color: rgb(3, 3, 3);
  font
}
