extends layouts/main 

block content
    .form-container
        form(action=`/users${routes.changePassword}` method="post")
            input(type="password", name="currenPassword", placeholder="Current Password")
            input(type="password", name="newPassword1", placeholder="new Password")
            input(type="password", name="newPassword2", placeholder="Verify Password")
            input(type="submit", value="Change Password")